<mat-card>
  Show all
  <mat-checkbox (click)="filterList()"></mat-checkbox>
  <mat-list>
    <div *ngFor="let vehicle of filteredList">
      <mat-list-item>
        <mat-icon mat-list-icon>directions_car</mat-icon>
        {{ vehicle.vehicle_type }} - {{ vehicle.vehicle_id }} - {{ vehicle.urgency }} - {{ vehicle.description }}
        <mat-icon mat-list-icon style="color:rgb(255, 229, 179)" *ngIf="vehicle.urgency === 'medium'">warning</mat-icon>
        <mat-icon mat-list-icon style="color:rgb(254, 98, 131)" *ngIf="vehicle.urgency === 'high'">warning</mat-icon>
        <mat-icon mat-list-icon style="color: rgb(59, 193, 192)" *ngIf="vehicle.urgency === 'low'">favorite</mat-icon>
        <mat-icon mat-list-icon style="color: rgb(195, 10, 35)" *ngIf="vehicle.urgency === 'urgent'">warning</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</mat-card>