<mat-card>

    <mat-card-title>
        <span class="mat-headline">Fuel consumption by car type</span>  
    </mat-card-title>  
    <mat-form-field>
        <mat-select [(ngModel)]="carTypeID"  placeholder="Choose car type to display on chart">
            <mat-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.id">
                {{vehicleType.display_name}}
              </mat-option>
        </mat-select>
    </mat-form-field> 
    <button mat-raised-button (click)="addCarTypeToChart()">Change</button> 
    <div *ngIf="dataReady">
        <mat-card-content>
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
              [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
          </mat-card-content>
    </div>
    <div *ngIf="!dataReady">
      <mat-spinner style="margin:0 auto"></mat-spinner>
    </div>

</mat-card>