<mat-card>
    <mat-card-title>
      <span class="mat-headline">Types of Data Comparison</span>  
    </mat-card-title>
    <div *ngIf="dataReady">
      <mat-card-content>
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
      </mat-card-content>
    </div>
</mat-card> 
