<mat-card>
  <mat-card-title>
    <span class="mat-headline">Extracted fuel types</span>
  </mat-card-title>
  <div *ngIf="dataReady">
    <mat-card-content>
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </mat-card-content>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!dataReady ">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>