<mat-toolbar style="background-color: #40e0d0" color="#40e0d0">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="menu">menu</mat-icon>
  </button>
  <span>Disybo</span>
</mat-toolbar>
<mat-sidenav-container fxFill>
  <mat-sidenav #sidenav>
    <mat-accordion displayMode="flat" [multi]="false">
      <mat-expansion-panel style="box-shadow: none;">
        <mat-expansion-panel-header style="font-size: 16px">
          <mat-icon>show_chart</mat-icon>
          <span>Analytics</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a matLine routerLink="/analytics/vehicles" routerLinkActive="active" (click)="sidenav.close()">
              <mat-icon>directions_car</mat-icon>
              <span>
                Vehicles
              </span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a matLine routerLink="/analytics/stations" routerLinkActive="active" (click)="sidenav.close()">
              <mat-icon>local_gas_station</mat-icon>
              <span>Stations</span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel style="box-shadow: none;">
        <mat-expansion-panel-header style="font-size: 16px">
          <mat-icon>list</mat-icon>
          <span>Registry</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a matLine routerLink="/registry/vehicles" routerLinkActive="active" (click)="sidenav.close()">
              <mat-icon>directions_car</mat-icon>
              <span>Vehicles</span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <a matLine routerLink="/registry/stations" routerLinkActive="active" (click)="sidenav.close()">
              <mat-icon>local_gas_station</mat-icon>
              <span>Stations</span>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
