<mat-card>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="startDate" [(ngModel)]="startDateValue" placeholder="Choose a start date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="endDate" [(ngModel)]="endDateValue" placeholder="Choose an end date">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #endDate></mat-datepicker>
        </mat-form-field>
        <mat-radio-group [(ngModel)]="granularity">
                <mat-radio-button value="daily">Daily</mat-radio-button>
                <mat-radio-button value="monthly">Monthly</mat-radio-button>
                <mat-radio-button value="yearly">Yearly</mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="btn-success" (click)="refresh()">Refresh</button>
    </mat-card-content>   
</mat-card>
