<mat-card>
    <mat-card-title>
      <span class="mat-headline">Ingoing vs. Outgoing Fuel Comparison</span>  
    </mat-card-title>
    <mat-card-content>
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
    </mat-card-content>
</mat-card> 
